/*  @font-face for custoom fonts */
@font-face {
	font-family: Roboto;
	src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

/* UNIVERSAL SELECTOR */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* TYPE SELECTORS */
html {
	font-size: 62.5%;
}

body {
	color: #0b0c17;
	background-color: red;
}

h1 {
	font-family: Roboto;
	font-size: 1.2rem;
	font-weight: bolder;
	width: 140px;
	display: flex;
	justify-content: center;
}
/* CLASS-CONTAINER */

/* CLASSES */

.logo {
	width: 25px;
}
.a-header-logo {
	text-decoration: none;
	color: #000;
	display: flex;
}
.a-header-logo h1 span {
	font-size: 0.6rem;
	display: inline-block;
}

.background-image-container {
	height: 50vh;
}
/* Designs */
/* Farben: #0b0c17 / #ff3571 / #dddddd / #3C30FF / #FFF / #000 */
